.footer-color {
  background-color: #282f3a;
}
.footer-color2 {
  background-color: #252b36;
}
.footer {
  padding: 140px 0;
}
.footer-row {
  display: flex;
}
.footer-col:first-child {
  width: 40%;
}
.footer-col {
  width: 20%;
  display: flex;
  flex-direction: column;
  span {
    display: block;
  }
  &-heading {
    margin-bottom: 40px;
  }
}
.footer-col:last-child {
  width: 40%;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer-logo-img {
  margin-right: 10px;
}
.footer-logo-text {
  font-size: 22px;
}
.footer-text {
  color: $text-gray;
  line-height: 1.6;
  span {
    display: block;
  }
  a {
    color: $text-gray;
    transition: all 0.2s linear;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.footer-social-icon {
  color: $text-gray;
  font-size: 20px;
  margin-top: 40px;
  margin-right: 34px;
  cursor: pointer;
  transition: all 0.2s linear;
}
@media (hover: hover) {
  .footer-social-icon:hover {
    color: $text-white;
  }
  .footer-text a:hover {
    color: $text-white;
  }
}

.wrapper-footer-copy {
  background: #252b36;
  //   height: 100px;
}
.footer-copy-text {
  color: $text-gray;
  padding: 60px 0;
}
.footer-copy {
  position: relative;
}
.spaceship {
  width: 20px;
  height: 20px;
}
.box-spaceship {
  background: #4a44f2;
  padding: 14px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: -16%;
}
.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  padding-top: 10px;
}
@media screen and (max-width: 1200px) {
  .box-spaceship {
    right: 10%;
  }
}
@media screen and (max-width: 767px) {
  .content-header {
    white-space: pre-wrap;
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .footer-text {
    margin-bottom: 16px;
  }
  .box-spaceship {
    display: none;
  }
  .footer-copy-text {
    line-height: 1.6;
  }
}
