.header-container {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #6c5ce5;
  border-bottom: 1px solid #9492ee;
  z-index: 2;
}

.header {
  display: flex;
  color: #fff;
  align-items: center;
}
.menu {
  &-list {
    display: flex;
    list-style: none;
  }
  &-item {
    margin: 0 10px;
    cursor: pointer;
    // display: block;
  }
  &-item__link {
    padding: 20px;
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
  }
  &-link {
    margin-left: auto;
  }
}
@media (hover: hover) {
  .menu-item:hover .menu-item__link {
    color: $green-btn;
    text-decoration: none;
  }
}

.menu-icon {
  display: flex;
  align-items: center;
  &-bars {
    padding: 20px;
    cursor: pointer;
  }
  &-cart {
    padding: 20px;
    display: none;
    font-size: 20px;
    cursor: pointer;
  }
  &-search {
    margin: 0 20px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
  }
}
.menu-logo-box {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu-logo-box:hover {
  color: $text-white;
  text-decoration: none;
}
.logo-top {
  text-decoration: none;
}
.logo-top__text {
  padding: 10px 0;
  margin-left: 10px;
  font-size: 22px;
  color: $text-white;
  text-decoration: none;
}
@media screen and (max-width: 1023px) {
  .menu-item {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .logo-top {
    width: 30px;
    height: 30px;
  }
  .logo-top__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 375px) {
}
